<!DOCTYPE html>
<html>
<head>
    <title>WebSockets Client</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body>
Please ROTATE
</body>
</html>
<script>

    var room_id = "{{ room_id }}";
    jQuery(function ($) {

        if (!("WebSocket" in window)) {
            alert("Your browser does not support web sockets");
        } else {
            // alert("Set up");
            setup();
        }


        function setup() {

            // Note: You have to change the host var
            // if your client runs on a different machine than the websocket server

            var host = "ws://{{ host_val }}:8001/submit/";
            var socket = new WebSocket(host);
            // alert("socket status: " + socket.readyState);


            var sending = false;
            var delay = 10;
            // event handlers for websocket
            if (socket) {
                socket.onopen = function () {

                    socket.send("room_id:"+room_id);
                    function motion(event) {
                        if(!sending){
                            sending = true;
                            setTimeout(function () {
                                //your code to be executed after 1 seconds
                                var montion_data = ""
                                        + event.accelerationIncludingGravity.x + ", "
                                        + event.accelerationIncludingGravity.y + ", "
                                        + event.accelerationIncludingGravity.z;
                                // alert("montion_data :"+montion_data);
                                socket.send(montion_data);
                                sending = false;
                            }, delay);
                        }

                    }
                    if (window.DeviceMotionEvent) {
                        window.addEventListener("devicemotion", motion, false);
                    } else {
                        console.log("DeviceMotionEvent is not supported");

                        //alert("DeviceMotionEvent is not supported");
                    }
                }

                socket.onmessage = function (msg) {
                    // alert("onmessage");
                    showServerResponse(msg.data);
                }
                socket.onclose = function () {
                    // alert("onclose");
                    showServerResponse("The connection has been closed.");
                }

            } else {
                alert("invalid socket");
            }

            function showServerResponse(txt) {

                // alert("showServerResponse ...."+txt);
                var p = document.createElement('p');
                p.innerHTML = txt;
                document.getElementById('output').appendChild(p);
            }

            // alert("added handlers");

        }


    });


</script>